.wrapper{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content:flex-start;
/*  flex-wrap:wrap;*/
/*  border:solid;*/
  height: 100%;
  width:99.4%;
  box-shadow:-3px 3px 3px #888888;
  -moz-box-shadow:-3px 3px 3px #888888;
  -webkit-box-shadow:-3px -3px 3px #888888;
  border-top-left-radius:10px;
  border-bottom-left-radius: 25px;
/*  overflow-y: scroll;*/
  /*z-index: 0;*/
}



.topBanner{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  display: -webkit-flex;
  -webkit-flex-direction:row;
  -webkit-justify-content:space-between;
  align-items:flex-end;
/*  border-bottom:solid;*/
  border-bottom-style: inset;
/*  border-color: black;*/
  border-width: 5px;
  height: 5%;
  width: 100%;
/*  position: fixed;*/
  /*z-index: -1;*/
  background-image: url(../images/darnellbanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*opacity: .85;*/
  border-top-left-radius:10px;
  box-shadow:-3px 3px 3px #888888;
  -moz-box-shadow:-3px 3px 3px #888888;
  -webkit-box-shadow:-3px -3px 3px #888888;

}

.bannerNav{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:flex-end;
  display: -webkit-flex;
  -webkit-flex-direction:row;
  -webkit-justify-content:space-around;
  -webkit-align-items:flex-end;
/*  border-left:solid;*/
  /*border:solid red;*/
  font-size: .5em;
  height: 100%;
  width: 10%;
  min-width: 150px;
  list-style-type: none;
/*  list-style-position: inside;*/
  padding: 0;
  margin: 0;
  color: white;
  background-color: rgba(0,0,0,.6);


}

.bannerNav > li{
  /*border: solid red;*/
}

.buttonWrapper{
  width: 100px;
}

.navButton{
  display: none;
  height: inherit;
  width: inherit;
  background-image: url(../images/darnellbutton.jpg);
  /*opacity: .9;*/
  border-bottom:solid;
  border-right:solid;
  width: 100px;
  height:100px;
  border-radius: 175px;
  background-size: cover;
  margin-left: 40px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-left-style: ridge;
  border-top-style: ridge;
/*  border-right-width: 5px;
  border-left-width: 5px;*/
/*  position: fixed;*/
}

.navButton:hover{
  border-color: #EDFAFF;
  -webkit-box-shadow:2px 2px 10px #EDFAFF;
  -moz-box-shadow:-3px 3px 10px #888888;
  box-shadow:-3px 3px 10px #888888;
}

.pageNav{
  display: block;
  margin-top: 15%;
  margin-left: 10px;
  width: 165px;
  height: 89%;
  /*opacity: .8;*/
  border:solid;
  /*border-width: 2px;*/
/*  position: fixed;*/
  -webkit-box-shadow:-5px 9px 3px #888888;
  -moz-box-shadow:-5px 9px 3px #888888;
  box-shadow:-5px 9px 3px #888888;
  /*border-bottom-right-radius: 50px;*/
  background-color: #2E2E2E;
  /*z-index: 1;*/

}


.navList{
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:space-around;
  display: -webkit-flex;
  -webkit-flex-direction:column;
  -webkit-flex-wrap:wrap;
  -webkit-justify-content:space-around;
  font-size: 20px;
  color:white;
  margin-top: 40px;
  height: 70%;
  border-bottom-color: white;
  list-style-type: none;
  /*z-index: 1;*/
}

.navList li{
  border-bottom:solid;

/*  z-index: -1;*/

}

.navList li:hover{
  font-size: 25px;
  cursor: pointer;
  border-bottom-width:thick;
}

.bannerNav > li:hover{
  /*height: auto;*/
  border-top: solid;
  border-top-color: white;
  border-top-width: 5px;
  cursor: pointer;

}

.sectionWrapper{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  display: -webkit-flex;
  -webkit-flex-direction:row;
  -webkit-justify-content: space-around;
  margin-top:-51px;
/*  border:solid;*/
  border-color: red;
  /*width: 400px;
  height: 400px;*/
  /*background-image: url(http://www.funmayo.com/wp-content/uploads/2015/09/space-cool-HD-wallpaper.jpg);*/
  background-repeat: no-repeat;
  background-size:auto;
  background-color: rgba(158, 157, 163, 0.20)

}

.contentWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-align-items: flex-start;
  margin-top: 15%;
  /*border:solid right: ;*/
  width: 90%;
  height:90%;
  overflow-y: scroll;
  position:static;
}

.blogArticle{
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  word-wrap: break-word;
  border-top: solid;
  border-bottom: solid;
  /*border-radius: 5px;*/
  border-width: 1.5px;
  height: 100%;
  margin-bottom: 9.5%;
  width: 98%;
  -webkit-box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
  -moz-box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
  box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
  /*overflow: scroll;*/
  position: relative;
}

.blogArticleGrowA{
  min-height:95%;
}

.blogHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*flex-wrap: wrap;*/
  align-items: flex-start;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: flex-start;
  /*justify-content: flex-start;*/
  border-bottom: solid;
  border-bottom-width: 2px;
  background-color: rgba(0, 19, 27, 0.42);

}

.BlogPublishedDate{
  margin: 0;
  width: 15%;
  align-self: flex-end;
  font-size: .7em;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 20, 0.35);
  /*border: solid;*/
  padding-right: 20px;
  text-align: right;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.blogHeader h1{
  padding-left: 20px;
  font-size: 1.5em;
  /*padding: 0;*/
  margin: 0;
  /*border: solid;*/
  width: 60%;

}

.blogBody{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  -webkit-flex-direction: column;
  /*align-items: center;*/
  /*flex-wrap: wrap;*/
  text-align: left;
  height: auto;
  width: auto;
  overflow-y: hidden;
  /*overflow-y: scroll;
  overflow-x: hidden;*/
  padding: 1em;
  /*flex-grow: 1;*/
  font-size: 20px;
}

.blogArticleFooter{
  border-bottom: solid;
  width: 6%;
  min-width: 80px;
  align-self: flex-end;
  text-align: right;
  margin-right: 10px;
  position: relative;
  /*text-decoration: underline;*/
  font-size: .97em;
  font-weight: bold;
  color: blue;
  cursor: pointer;

}

.BlogPublishedDate{

}

.imageWrapper{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: flex-start;
  width: 85%;
  min-height:100px;
  align-self: center;
  /*border: solid red;*/
  overflow-y: hidden;
  overflow-x: hidden;
}

.overflow{
  overflow-y: visible;
  overflow-x: visible;
}

.projectSS{
  height: 40%;
  width: 45%;
  /*flex-grow: 2;*/
  /*align-self: center;*/
  -webkit-box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
  -moz-box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
  box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
  border-radius: 10px;
  border: solid 2px rgb(53, 72, 94);
  /*align-self: center;*/
  /*border: solid red;*/
}
.projectCode{
  /*width: 90%;*/
}

.flip {
  -webkit-perspective: 800;
   /*width: 400px;*/
   /*height: 200px;*/
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 1em;
    text-align: left;
    /*line-height: 200px;*/
}
.flip .card .front {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-around;
  position: absolute;
  z-index: 1;
    /*background: black;*/
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(180deg);
    /*background: blue;*/
    /*background: white;*/
    color: black;
    cursor: pointer;
}

.infoWrapper{
  margin-top: 2.0%;
  border: solid;
  height: 90%;
  width: 95%;

}

.projectCode{
  -webkit-box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
  -moz-box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
  box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
  border-radius: 10px;
  border: solid 2px rgb(53, 72, 94);

}

@media screen and (min-width: 650px) {
  .pageNav{
    display:block;
    margin-left: 10px;
    margin-top: 0;
    width: 165px;
    height: 83%;
    /*opacity: .8;*/
    border:solid;
    /*border-width: 2px;*/
  /*  position: fixed;*/
    -webkit-box-shadow:-5px 9px 3px #888888;
    -moz-box-shadow:-5px 9px 3px #888888;
    box-shadow:-5px 9px 3px #888888;
    /*border-bottom-right-radius: 50px;*/
    background-color: #2E2E2E;
    /*z-index: 1;*/
  }
  .topBanner{
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-end;
    display: -webkit-flex;
    -webkit-flex-direction:row;
    -webkit-justify-content:flex-end;
    -webkit-align-items:flex-end;
  /*  border-bottom:solid;*/
    border-bottom-style: inset;
  /*  border-color: black;*/
    border-width: 5px;
    height: 10%;
    width: 100%;
  /*  position: fixed;*/
    /*z-index: -1;*/
    background-image: url(../images/darnellbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*opacity: .85;*/
    border-top-left-radius:10px;
    box-shadow:-3px 3px 3px #888888;
    -moz-box-shadow:-3px 3px 3px #888888;
    -webkit-box-shadow:-3px -3px 3px #888888;

  }

  .bannerNav{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
    display: -webkit-flex;
    -webkit-flex-direction:row;
    -webkit-justify-content:space-around;
    -webkit-align-items:flex-end;
  /*  border-left:solid;*/
  /*  border:solid;*/
    font-size: 25px;
    height: 100%;
    width: 20%;
    min-width: 300px;
    list-style-type: none;
  /*  list-style-position: inside;*/
    padding: 0;
    margin: 0;
    color: white;
    background-color: rgba(0,0,0,.6);


  }

  .contentWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-align-items: flex-start;
    border:solid right;
    width: 90%;
    height:85%;
    overflow-y: scroll;
    margin-top: 0;
    position:static;
  }

  .navButton{
    display: block;
  }

  .blogArticle{
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    word-wrap: break-word;
    border-top: solid;
    border-bottom: solid;
    /*border-radius: 5px;*/
    border-width: 1.5px;
    height: 50%;
    margin-bottom: 1.5%;
    width: 98%;
    -webkit-box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
    -moz-box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
    box-shadow: -17px 23px 5px -7px rgba(0,0,0,0.35);
    /*overflow: scroll;*/
    position: relative;
  }

}
