.wrapper{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
/*  flex-wrap:wrap;*/
/*  border:solid;*/
  height: 100%;
  width:99.4%;
  box-shadow:-3px 3px 3px #888888;
  -moz-box-shadow:-3px 3px 3px #888888;
  -webkit-box-shadow:-3px -3px 3px #888888;
  border-top-left-radius:10px;
  border-bottom-left-radius: 25px;
/*  overflow-y: scroll;*/
  /*z-index: 0;*/
}

.topBanner{
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:flex-end;
/*  border-bottom:solid;*/
  border-bottom-style: inset;
/*  border-color: black;*/
  border-width: 5px;
  height: 150px;
  width: 100%;
/*  position: fixed;*/
  /*z-index: -1;*/
  background-image: url(../images/darnellbanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius:10px;
  box-shadow:-3px 3px 3px #888888;
  -moz-box-shadow:-3px 3px 3px #888888;
  -webkit-box-shadow:-3px -3px 3px #888888;

}

h1{
  font-size: 30px;
  font-weight: bold;
  padding: 0;
  margin: 0;
/*  height: 100%;*/
  background-color: rgba(0,0,0,.6);
  border-top: solid;
  border-top-width: 5px;
  border-top-color: white;
/*  border-top-left-radius:10px;*/
  /*padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 5px;*/
  color: white;
}

.bannerNav{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:flex-end;
/*  border-left:solid;*/
/*  border:solid;*/
  font-size: 25px;
  height: 100%;
  width: 20%;
  list-style-type: none;
/*  list-style-position: inside;*/
  padding: 0;
  margin: 0;
  color: white;
  background-color: rgba(0,0,0,.6);


}

.buttonWrapper{
  width: 100px;
}

.navButton{
  height: inherit;
  width: inherit;
  background-image: url(../images/darnellbutton.jpg);
  border-bottom:solid;
  border-right:solid;
  width: 100px;
  height:100px;
  border-radius: 175px;
  background-size: cover;
  margin-left: 40px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-left-style: ridge;
  border-top-style: ridge;
/*  border-right-width: 5px;
  border-left-width: 5px;*/
/*  position: fixed;*/
}

.navButton:hover{
  border-color: #EDFAFF;
  -webkit-box-shadow:2px 2px 10px #EDFAFF;
  -moz-box-shadow:-3px 3px 10px #888888;
  box-shadow:-3px 3px 10px #888888;
}

.pageNav{
  margin-left: 10px;
  width: 160px;
  height: 400px;
  border:solid;
/*  position: fixed;*/
  -webkit-box-shadow:-3px 3px 3px #888888;
  -moz-box-shadow:-3px 3px 3px #888888;
  box-shadow:-3px 3px 3px #888888;
  border-bottom-right-radius: 50px;
  background-color: #2E2E2E;
  /*z-index: 1;*/

}

.navList{
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:space-around;
  font-size: 20px;
  color:white;
  margin-top: 40px;
  height: 70%;
  border-bottom-color: white;
  list-style-type: none;
  /*z-index: 1;*/
}

.navList li{
  border-bottom:solid;
/*  z-index: -1;*/

}

.navList li:hover{
  font-size: 25px;
  cursor: pointer;
  border-bottom-width:thick;
}

.bannerNav > li:hover{
  /*height: auto;*/
  border-top: solid;
  border-top-color: white;
  border-top-width: 5px;
  cursor: pointer;

}

.sectionWrapper{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin-top:-51px;
/*  border:solid;*/
  border-color: red;
  /*width: 400px;
  height: 400px;*/
  /*background-image: url(http://www.funmayo.com/wp-content/uploads/2015/09/space-cool-HD-wallpaper.jpg);*/
  background-repeat: no-repeat;
  background-size:auto;
  background-color: rgba(158, 157, 163, 0.20)

}

.contentWrapper{
  /*border:solid;*/
  width: 100%;
  height:80%;
}

#footerWrapper{
  height: 3%;
  border: solid;
  background-image: url(../images/darnellbanner.jpg);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-size: cover;

}
